.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #653487;
    height: 56px;
}
.toolbar_logo a{
    background: #653487;
    text-decoration: none;
}
.toolbar_logo {
    margin-left: 1rem;
}
.spacer{
    flex: 1;
}
.toolbar_navigation{
    display: flex;
    align-items: center;
    background: #653487;
    height: 100%;
    padding: 0 1rem;
}
.toolbar_navigationItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigationItems li{
    padding: 0 0.5rem;
}
.toolbar_navigationItems a{
    text-decoration: none;
}
.toolbar_navigationItems a:hover, .toolbar_navigationItems a:active{
    color: #32325d;
}

@media (max-width: 768px){
    .toolbar_navigationItems {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar_toggle-button {
        display: none;
    }

    .toolbar_logo{
        margain-left: 0;
    }
}