.side-drawer {
    height: 100%;
    background: #653487;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
}
.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-drawer li{
    margin: .5rem 0;
}
.side-drawer a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer a:hover, .side-drawer a:active {
    color: #32325d;
}