.PartyTitle {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    color: purple;
}

.PartySubtitle {
    text-align: center;
    font-size: large;
    color: rebeccapurple;
}

.PartyDescription {
    text-align: center;
    font-size: medium;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

